html {
    height: 100%;
    width: 100%;
    margin-left: 0%;
    margin-right:0%;
  }

header {
    font-family: 'Cinzel', serif;
    color: #000121;
    background-color: #fafaf2;
    text-align: center;
    padding-top:5px;
    padding-bottom:5px;
    font-size:1.75vw;
  }

body{
    background-color:#fafaf2;
    margin: 0;
    padding: 0;
}

.about {
    font-family: 'Jost', 'serif';
    padding: 1vw;
    margin: 1vw;
}

/* navigation bar*/
nav {
    font-family: 'Jost', serif; 
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color:rgb(199, 199, 199);
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }

li {
    display: inline-block;
    padding: auto;
}

li a {
    text-decoration: none;
    color: #acacac;
    display: block; 
    text-align:center;
    padding: 10px 14px; 
    opacity: 100%;
    
}

li a:hover:not(.active) {
    color: #ffffff;
}

.active {
    color:rgb(199, 199, 199);
}  

/*end navigation*/

/* form formatting */
form { 
    color:#000000; 
    font-family:'Jost', serif;
    font-weight: bold; 
    padding: 5px 10px;
}

input[type=checkbox] {
    display: inline-block;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

}

span{
    white-space: nowrap;
}

button {
    padding: 5px 10px;
    margin: 2px 10px;
    margin-bottom: 5px;
    background-color: slategray;
    color: white; 
    font-size: 16px;
    
}

button:hover {
    background-color: gray;
    color: black;
}

legend {
    float: left;
}

/* hover definitions*/
.definition {
    display: none;
    font-size: small;
  }
  
.term:hover + .definition {
    display: block;
    border: 1px solid black;
    background-origin: border;
    background-color: #fffff5;
    padding: 2px 3px;
    margin: 1px;
    width: fit-content;
  }

.explanation {
    margin: 5px;
    padding:1%;
    font-family:'Jost', serif;
    color:rgb(0, 0, 0); 
}

.likelihood {
    margin: 5px;
    padding:1%;
    font-family:'Jost', serif;
    color:rgb(47, 47, 47); 
}
